<!DOCTYPE html>
<html>
<head>
  <title>Rupeevest</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar transparent navbar-fixed-top navbar-inverse" >
  		<div class="navbar-inner" >
  			<div class ="container-fluid">
  				<a href = "/static_pages/home" class = "header_logo pull-left"><%= image_tag("logo1.jpg", alt: "logo") %></a>
  				<ul class = "nav">
  					<li><%= link_to "Why Rupeevest", static_pages_whyus_path %><li>
  					<li><%= link_to "About Us", static_pages_aboutus_path %><li>	
  					<li><%= link_to "Profiler", static_pages_profiler_path %><li>
  					<li><%= link_to "Contact", static_pages_contact_path %><li>
          </ul>
          <ul class= "nav pull-right">
            <% if user_signed_in? %>
              
              <li><%= link_to current_user.email, edit_user_registration_path %></li>
              <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>   
            <% else %>
               <a href="/users/sign_up" class="btn btn-primary">Register</a>
               <a href="/users/sign_in" class="btn btn-primary">Log In</a> 
            <% end %>
          </ul>
  			</div>
  		</div>
  	</div>




	<div class="container">	
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <button class="close" data-dismiss="alert">x</button>
        <%= flash[:notice] %>
      </div>
    <%end%>
    <% if flash[:alert] %>
      <div class="alert alert-faliure">
        <button class="close" data-dismiss="alert">x</button>
        <%= flash[:alert] %>
      </div>
    <%end%>
    </div>
		<%= yield %>	
	
</body>
</html>
